section {
  padding-top: 1rem;
}
img {
  max-height: 10rem;
}

.my-sticky{
  position: sticky;
  top: 3.25rem;
  z-index: 1020;
  background: blueviolet;
}
//h3{
//  background: blueviolet;
//  padding: 10px;
//}